@media only screen and (min-width: 320px) {
  .about {
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .hi {
    font-family: "Young Serif", serif;
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
  }

  .hi span {
    justify-content: left;
    font-size: 2rem;
    font-family: "Young Serif", serif;
    color: burlywood;
  }

  .text1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: start;
    padding: 1rem 1rem;
  }

  .tech {
    justify-content: center;
    display: grid;
  }

  .container {
    width: 175px;
    height: 175px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 0 0 #675d50;
  }

  .plate {
    width: fit-content;
    background-color: white;
  }

  .plate .black,
  .plate .white,
  .plate .center,
  .plate .border {
    border-radius: 100%;
  }

  .container,
  .plate .black,
  .plate .white,
  .plate .border {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .plate .black {
    width: 150px;
    height: 150px;
    background-color: #000000;
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  .plate .white {
    width: 70px;
    height: 70px;
    background-color: #f3deba;
  }

  .plate .center {
    width: 20px;
    height: 20px;
    background-color: #000000;
  }

  .plate .border {
    width: 111px;
    height: 111px;
    border-top: 3px solid #f3deba;
    border-bottom: 3px solid #f3deba;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
  }

  .player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    margin-right: 8px;
    rotate: -45deg;
  }

  .player .circ {
    width: 25px;
    height: 25px;
    background-color: #f3deba;
    border-radius: 100%;
    z-index: 1;
  }

  .player .rect {
    width: 10px;
    height: 55px;
    background-color: #f3deba;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
  }

  .contact {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-left: 1rem;
  }

  .linecontact {
    outline: 2px solid #ffffff;
    width: 9rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .icons a i {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: white;
    transition: color 0.3s, transform 0.3s;
  }
  .icons a i:hover {
    color: burlywood;
    transform: scale(1.2);
  }

  .linebottom {
    width: 80%;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 375px) {
  .hi {
    font-size: 2.2rem;
  }

  .text1 {
    font-size: 1.4rem;
  }
  .loader {
    width: 16em;
    height: 16em;
  }

  .contact {
    font-size: 1.4rem;
  }
  .linecontact {
    width: 10.5rem;
  }

  .icons a i {
    font-size: 2.2rem;
    margin-left: 1.6rem;
  }
}
@media only screen and (min-width: 425px) {
  .hi {
    font-size: 2.2rem;
    padding-left: 2rem;
  }

  .text1 {
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem;
  }
  .loader {
    width: 18em;
    height: 18em;
  }

  .tech {
    padding-top: 2rem;
  }

  .linecontact {
    margin-left: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .hi {
    font-size: 3rem;
    padding-left: 5rem;
    grid-column: 1;
  }

  .hi span {
    font-size: 3rem;
  }
  .text1 {
    grid-column: 1;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5rem;
  }

  .tech {
    margin-top: -5rem;
    grid-column: 2;
  }

  .loader {
    width: 20em;
    height: 20em;
  }

  .linecontact {
    margin-left: 5rem;
  }

  .icons {
    grid-column: 1;
    margin-top: 2rem;
  }

  .icons a i {
    margin-left: 2rem;
    font-size: 2.3rem;
  }

  .linebottom {
    display: grid;
    grid-column: span 2;
    width: 90%;
    padding-top: 1rem;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .hi {
    font-size: 3.5rem;
    padding-left: 5rem;
    grid-column: 1;
  }

  .hi span {
    font-size: 3.5rem;
  }
  .text1 {
    grid-column: 1;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 5rem;
  }

  .contact {
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  .linecontact {
    width: 12.5rem;
  }

  .loader {
    width: 22em;
    height: 22em;
  }

  .icons {
    grid-column: 1;
    margin-top: 3rem;
  }

  .icons a i {
    margin-left: 2rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1900px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .hi {
    font-size: 3.8rem;
    padding-left: 8rem;
    grid-column: 1;
  }

  .hi span {
    font-size: 3.8rem;
  }
  .text1 {
    grid-column: 1;
    font-size: 2rem;
    text-align: left;
    padding-left: 8rem;
  }

  .linecontact {
    margin-left: 10rem;
    width: 12.5rem;
  }

  .loader {
    width: 32em;
    height: 32em;
  }

  .icons {
    grid-column: 1;
    margin-top: 3rem;
  }

  .icons a i {
    margin-left: 2rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hi {
    font-size: 4rem;
    padding-left: 10rem;
  }

  .hi span {
    font-size: 4rem;
  }
  .text1 {
    text-align: justify;
    font-size: 2.5rem;
    padding-left: 10rem;
  }

  .linecontact {
    margin-left: 10rem;
    width: 12.5rem;
  }

  .loader {
    width: 42em;
    height: 42em;
  }

  .contact {
    font-size: 2.2rem;
    padding-left: 1rem;
  }

  .linecontact {
    margin-top: -4rem;
    width: 14.8rem;
  }
}
