@media (min-width: 1900px) {
  .academic {
    padding-top: 3rem;
    width: 100%;
    background-color: #131313;
  }

  .titlecont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academic i {
    margin-top: 5rem;
    display: flex;
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
  }
  .academictitle {
    margin-top: 5rem;
    color: white;
    font-size: 3rem;
    font-family: "Poppins";
  }
}
