.academic {
  padding-top: 3vw;
  width: 100%;
  background-color: #131313;
}

.titlecont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.academictitle {
  margin-top: 5vw;
  color: white;
  font-size: 3.5vw;
  font-family: "Lora", serif;
}
