@media only screen and (min-width: 320px) {
  .hello {
    color: white;
    padding-top: 10rem;
    padding-left: 1rem;
    font-size: 2rem;
    font-family: "Young Serif", serif;
  }

  .front {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    padding-left: 1rem;
  }
  .developer {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    padding-left: 1rem;
    margin-top: -1.2rem;
  }

  .intro {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: start;
    padding: 1rem 1rem;
  }
}
@media only screen and (min-width: 375px) {
  .hello {
    font-size: 2.2rem;
    padding-top: 11rem;
    padding-left: 1rem;
  }
  .front {
    font-size: 4.5rem;
  }
  .developer {
    font-size: 4.5rem;
  }
  .intro {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 425px) {
  .hello {
    font-size: 2.4rem;
    padding-left: 2rem;
  }
  .front {
    padding-left: 2rem;
    font-size: 4.8rem;
  }
  .developer {
    padding-left: 2rem;
    font-size: 4.8rem;
  }

  .intro {
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .backgroundimage {
    background-image: url("../img/backtest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20rem;
    height: 120vh;
  }
  .hello {
    text-shadow: 4px 4px 6px #000;
    background: transparent;
    font-size: 3rem;
    padding-left: 4rem;
    padding-top: 0;
  }
  .front {
    text-shadow: 4px 4px 6px #000;
    background: transparent;
    font-size: 6rem;
    padding-left: 4rem;
  }
  .developer {
    text-shadow: 4px 4px 6px #000;
    background: transparent;
    font-size: 6rem;
    padding-left: 4rem;
  }
  .intro {
    text-shadow: 4px 4px 6px #000;
    background: transparent;
    text-align: justify;
    font-size: 1.8rem;
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .intro {
    text-align: left;
    font-size: 2.4rem;
    padding-left: 6rem;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 1440px) {
  .hello {
    font-size: 4rem;
    padding-left: 6rem;
    padding-top: 4rem;
  }
  .front {
    font-size: 12rem;
    padding-left: 6rem;
  }
  .developer {
    font-size: 12rem;
    margin-top: -4rem;
    padding-left: 6rem;
  }
  .intro {
    font-weight: 700;
    text-align: left;
    font-size: 2.2rem;
    padding-left: 58rem;
    margin-top: -29rem;
  }
}
@media only screen and (min-width: 1900px) {
  .intro {
    text-align: left;
    font-size: 2.2rem;
    padding-left: 60rem;
    margin-top: -20rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hello {
    font-size: 5rem;
    padding-left: 6rem;
    padding-top: 20rem;
  }
  .front {
    font-size: 14rem;
    padding-left: 6rem;
  }
  .developer {
    font-size: 14rem;
    margin-top: -4rem;
    padding-left: 6rem;
  }
  .intro {
    text-align: left;
    font-size: 3rem;
    padding-left: 68rem;
    margin-top: -22rem;
  }
}
