header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ffffff;
}
header nav i {
  color: transparent;
}

header nav {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
}

header h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-right: 45rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  padding-bottom: 0.2rem;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  display: flex;
  font-family: "Poppins";
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 2.5rem;
  position: relative;
  margin-top: 0.3rem;
}

header a:after {
  border-radius: 10px;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.7s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header a:hover:after {
  width: 100%;
  left: 0;
}

.loader {
  --dim: 1.5rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
  margin-top: 0.6rem;
  margin-right: 1.5rem;
}

.loader .circle {
  --color: #ffffff;
  --dim: 0.9rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 425px) {
  header {
    width: 100%;
    position: fixed;
  }
  header nav ul {
    display: none;
  }

  header nav i {
    color: #f7f7f7;
    font-size: 60px;
  }
}
