@media only screen and (min-width: 320px) {
  nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: transparent;
    backdrop-filter: blur(5px);
    color: white;
  }

  .name {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: "Young Serif", serif;
    width: 90%;
  }

  .menu li {
    display: inline;
    margin-right: 0.7rem;
    cursor: pointer;
  }
  .menu-link {
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }

  .menu-link.selected:after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%);
  }

  .menu li a {
    font-size: 1rem;
    color: white;
    font-family: "Young Serif", serif;
    text-decoration: none;
  }

  .underline {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 375px) {
  .name {
    font-size: 1.4rem;
  }
  .menu li a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 425px) {
  .menu li {
    margin-right: 0.7rem;
  }
  .name {
    font-size: 1.6rem;
    padding-bottom: 0.6rem;
  }
  .menu li a {
    font-size: 1.45rem;
  }
  .underline {
    padding-bottom: 1.4rem;
  }
}
