.skillslang {
  height: 50vh;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #131313;
}

.skillslang .sk {
  grid-column: 1;
  color: white;
  font-size: 3vw;
  margin-top: 4vw;
  margin-bottom: 8vw;

  font-family: "Bebas Neue", sans-serif;
}

.skillslang .lg {
  margin-top: 4vw;

  grid-column: 2;
  color: white;
  font-size: 3vw;
  margin-bottom: 8vw;
  font-family: "Bebas Neue", sans-serif;
}

.card-container {
  margin-top: -8vw;
  display: grid;
  grid-column: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  filter: grayscale(100%);
  margin-left: 3vw;
  margin-top: 3vw;
  max-width: 6vw;
  transition: all 0.15s linear;
  transform-origin: center center;
}

.card img {
  max-width: 95%;
  height: auto;
}
.card h2 {
  margin-top: 0.5vw;
  font-family: "Poppins";
  color: white;
  font-size: 1vw;
}

.card:hover {
  max-width: 6vw;
  filter: grayscale(0%);
  transform: rotateX(var(--x-rotation, 90)) rotateY(var(--y-rotation, 30));
  filter: brightness(var(--brightness, 1));
}

.language {
  margin-top: -6vw;
}

.language h1 {
  margin-bottom: 2vw;
  color: white;
  font-size: 3vw;
  font-family: "Bebas Neue", sans-serif;
  display: grid;
  grid-column: 2;
}

.language .titlelan {
  vertical-align: middle;
  display: inline-block;
  font-size: 2vw;
  margin-left: 1vw;
  margin-top: 2vw;
}

.language span {
  color: #f2c27e;
  vertical-align: middle;
  font-family: "Poppins";
  font-size: 1.5vw;
}

.language img {
  vertical-align: middle;
  width: 6vw;
}
